<div *ngIf="SubteList as SubIn">
  <h4 class="text-uppercase text-center text-white">Estado de los servicios</h4>
  <div class="row" style="margin-bottom: 50px;">
    <div class="card-deck">
      <div class="col-md-4 mb-3" *ngFor="let Linea of SubteList">
        <div class="card border-{{Linea.letra}}">
          <div class="card-header border-{{Linea.letra}}" style="padding: 0;">
            <img class="card-img-top" src="../../assets/subte/subte.jpg" alt="Foto Subte" />
          </div>
          <!--<div class="card-img-overlay"></div>-->
          <div class="card-body bg-{{Linea.letra}}">
            <div class="sb-circle sb-circle-{{Linea.letra}}">
              <div class="sb-circle-txt">{{ Linea.letra }}</div>
            </div>
            <p class="card-text"> {{ Linea.descriptionInfo }}</p>
            <a href="https://www.metrovias.com.ar/" target="_blank" class="btn btn-primary">Ir a Metrovias</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
