body {
}

.card-m {
  border-radius: 2rem;
}

.card-body-1 {
  background: #e9ecef url("../../assets/subte/subte2.png");
}
.card-body-2 {
  background: #e9ecef url("../../assets/subte/subte5.png");
}
.card-body-3 {
  background: #e9ecef url("../../assets/subte/subte4.png");
}
.card-body-4 {
  background: #e9ecef url("../../assets/documents.jpg");
}

.card .img-home {
  height: 350px;
  display: block;
  filter: sepia(0.5) drop-shadow(2px 4px 6px black);
  transition: transform .2s;
  border-radius: 2rem;
  background-position: bottom;
}

.card:hover .img-home {
  filter: sepia(0) drop-shadow(4px 8px 10px black);
  transform: scale(1.05);
  cursor: pointer;
  z-index: 2;
}

.image-container {
  background: #e9ecef url("../../assets/subte/subteheader.jpg");
  background-size: cover;
  position: relative;
  height: 300px;
  background-position: bottom;
}

.text-h {
  background-color: white;
  color: black;
  font-size: 3rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}

.viewport-header {
  position: relative;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
