<section id="services" class="viewport-header">
  <div class="jumbotron" style="margin-bottom: 75px; padding: 1rem 2rem 3rem;">
    <div class="image-container">
      <div class="text-h display-4">Servicios Subte</div>
    </div>
    <!--<p class="lead">Este es un sitio que se conecta a la Api del gobierno para recibir información de los estados del subte.</p>-->
    <div class="row mt-3">
      <div class="col-md-3 mb-3">
        <a class="card card-m" href="#" role="button" [routerLink]="['/subte']">
          <div class="card-body card-body-1 img-home">
            <div class="btn btn-primary btn-lg mt-auto" style="width:100%;">Estado del Servicio</div>
          </div>
        </a>
      </div>
      <div class="col-md-3 mb-3">
        <a class="card card-m" href="#" role="button" [routerLink]="['/subte/gtfs']">
          <div class="card-body card-body-2 img-home">
            <div class="btn btn-primary btn-lg mt-auto" style="width:100%;">Tiempos de Arribo</div>
          </div>
        </a>
      </div>
      <div class="col-md-3 mb-3">
        <a class="card card-m" href="#" role="button" [routerLink]="['/subte/history']">
          <div class="card-body card-body-3 img-home">
            <div class="btn btn-primary btn-lg mt-auto" style="width:100%;">Historial de Incidentes</div>
          </div>
        </a>
      </div>
      <div class="col-md-3 mb-3">
        <a class="card card-m" href="#" role="button" [routerLink]="['/documentation']">
          <div class="card-body card-body-4 img-home">
            <div class="btn btn-primary btn-lg mt-auto" style="width:100%;">Documentación</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
