<body>
  <video autoplay muted playsinline loop>
    <source src="../../assets/subte/subteheader.mp4" type="video/mp4">
  </video>
  <app-nav-menu class="nav-menu-m"></app-nav-menu>
  <div class="container">

    <router-outlet>
    </router-outlet>
  </div>
</body>
<footer class="fixed-bottom" style="background-color: #464646; height: 60px; line-height: 60px;">
  <!--position: absolute; bottom: 0; width: 100%; height: 60px; line-height: 60px;-->
  <div class="container">
    Copyright 2021 Eric Recke
  </div>
</footer>
