body {
}

.nav-menu-m {
  position: relative;
  display: flex;
  z-index: 1;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.p-footer{
    color: white;
}

.container-fix {
  position: relative;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
